#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border-radius: 1.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(23, 28, 40, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  text-align: center;
  color: #88abff;
  margin-bottom: 0.5rem;
}

#game-over p {
  font-size: 2rem;
  text-align: center;
  color: #eee;
  margin-bottom: 1.5rem;
}

#game-over button {
  font-size: 1.5rem;
  background: none;
  border: 2px solid #88abff;
  color: #88abff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0 8px rgba(165, 187, 255, 0.4);
}

#game-over button:hover {
  background: #88abff;
  color: rgba(23, 28, 40);
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(9, 51, 176, 0.8);
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}