.player {
  border: 1.5px solid transparent;
  padding: 0.3rem;
}

.player-name {
  display: inline-block;
  width: 8.5rem;
  margin-left: 0.5rem;
}

.player input {
  width: 8.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #ddd;
  animation: pulse-text 1.2s infinite ease-in-out;
  outline: none;
}

.player button {
  border: none;
  color: #465db0;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s;
  font-family: inherit;
  margin: 0.5rem 0 0.5rem 0.5rem;
  width: 2.7rem;
}

.player button:hover {
  color: #7198f2;
}

#players .highlight {
  animation: pulse 1.8s infinite ease-in-out;
  border-radius: 8px;
}

.highlight .player-name,
.highlight .player-symbol {
  color: #465db0;
  font-weight: 900;
}

@keyframes pulse-text {
  0% {
    color: #000;
  }

  50% {
    color: #888;
  }

  100% {
    color: #000;
  }
}

@keyframes pulse {
  0% {
    border-color: #7198f2;
    box-shadow: 0 0 0 0 rgba(90, 111, 246, 0.4);
  }

  50% {
    border-color: #5068bd;
    box-shadow: 0 0 0 0.4rem rgba(49, 56, 248, 0);
  }

  100% {
    border-color: #7198f2;
    box-shadow: 0 0 0 0 rgba(90, 111, 246, 0);
  }
}