#game-container {
  max-width: 34rem;
  margin: 2rem auto;
  padding: 1.5rem 2rem 2rem;
  border-radius: 1.7%;
  background-color: #eee;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  position: relative;
}

#players {
  margin: 0 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  #game-container {
    padding: 1rem 1rem;
  }

  #players {
    flex-direction: column;
    align-items: center;
  }
}


/* .player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
} */

/* 
.player-symbol {
  margin-left: 1rem;
  font-size: 1rem;
  color: #e1dec7;
} */


/* #pre-game {
  text-align: center;
} */

/* #pre-game button {
  cursor: pointer;
  background: none;
  color: #f8c031;
  border: none;
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
} */

/* #game-hints {
  text-align: center;
  color: #46432f;
} */

/* #game-hints h2 {
  font-family: 'Caprasimo', cursive;
  font-size: 2rem;
  margin: 0;
} */

/* #game-hints ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* #game-hints button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #23221f;
  font: inherit;
  margin-top: 1.5rem;
} */

/* @keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
} */