@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', sans-serif;
}

:root {
  font-synthesis: none;
  background: radial-gradient(circle at top,
      rgba(80, 150, 255, 0.95),
      rgba(20, 60, 160, 0.9)),
    url('/tic-tac-toe/bg-pattern.png');
  background-size: 100% 100%, 30% 30%;
}

body {
  min-height: 100vh;
  padding: 2.5rem 2rem;
}

header img {
  display: block;
  width: 9rem;
  margin: 0 auto 1rem auto;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.3));
}

h1 {
  font-family: 'Caprasimo', cursive;
  font-size: 3.3rem;
  color: #eeeeee;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  text-align: center;
}